# Text Methods for String Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
names = pd.Series(['Sam', 'Ram', 'Mohan', '4'])

In [3]:
names

0      Sam
1      Ram
2    Mohan
3        4
dtype: object

In [4]:
names.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [5]:
names.str.upper()

0      SAM
1      RAM
2    MOHAN
3        4
dtype: object

# Text Methods for Date and Time Data

In [6]:
import numpy as np
import pandas as pd
from datetime import datetime

In [7]:
yr = 2003
month = 7
day = 11
hr = 9
min = 27
sec = 12

In [8]:
mydatetime = datetime(yr,month,day,hr,min,sec)

In [9]:
mydatetime

datetime.datetime(2003, 7, 11, 9, 27, 12)

In [10]:
mydatetime.second

12

In [31]:
myser = pd.Series(['July 11, 2003'])

In [13]:
myser[0].year

AttributeError: 'str' object has no attribute 'year'

In [32]:
timser = pd.to_datetime(myser)

In [25]:
timser

0   2003-07-11
dtype: datetime64[ns]

In [26]:
timser[0].second

0

In [28]:
timser[0].day_name()

'Friday'

In [35]:
style_date = '12--Dec--2003'

In [36]:
pd.to_datetime(style_date, format = '%d--%B--%Y')

ValueError: time data "12--Dec--2003" doesn't match format "%d--%B--%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.