# Input and Output - CSV Files

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\prana\\Jupyter\\Data-Science\\Pandas'

In [3]:
df = pd.read_csv('C:\\Users\\prana\\Jupyter\\Data-Science\\Pandas\\classg.csv')

In [4]:
df

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09      NaN     51.48  52.50
1        8       95.05    105.49    67.50       NaN  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22       NaN    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [5]:
df['Tutorial'] = df ['Tutorial'] + 10

In [6]:
df.head(3)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     44.09      NaN     51.48  52.50
1       8       95.05    115.49     67.5       NaN  68.33
2       8       83.70     93.17     30.0     63.15  48.89

In [7]:
df.to_csv('classg2.csv')

In [8]:
df1 = pd.read_csv('classg2.csv')

In [9]:
df1.head(3)

   Unnamed: 0  Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0           0       5       57.14     44.09      NaN     51.48  52.50
1           1       8       95.05    115.49     67.5       NaN  68.33
2           2       8       83.70     93.17     30.0     63.15  48.89

# Input and Output HTML Tables

In [12]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/Economy_of_India'

In [13]:
tables = pd.read_html(url)

***The read_html function makes a list of all possible tables in the html file pased***

In [14]:
len(tables)

39

In [18]:
gdp_his = tables[2]

In [19]:
gdp_his.head(3)

,Year,GDP (in Bil. US$PPP),GDP per capita (in US$ PPP),GDP (in Bil. US$nominal),GDP per capita (in US$ nominal),GDP growth (real),Inflation rate (in Percent),Unemployment (in Percent),Government debt (inÂ % of GDP)
0,1980,371.9,532.0,189.4,271.0,6.74%,11.3%,NaN,NaN
1,1981,431.5,603.2,196.5,274.7,6.01%,12.7%,NaN,NaN
2,1982,474.1,647.5,203.5,278.0,3.5%,7.7%,NaN,NaN

In [21]:
gdp_his = gdp_his.drop('Inflation rate (in Percent)', axis = 1)

In [22]:
gdp_his.head(3)

,Year,GDP (in Bil. US$PPP),GDP per capita (in US$ PPP),GDP (in Bil. US$nominal),GDP per capita (in US$ nominal),GDP growth (real),Unemployment (in Percent),Government debt (inÂ % of GDP)
0,1980,371.9,532.0,189.4,271.0,6.74%,NaN,NaN
1,1981,431.5,603.2,196.5,274.7,6.01%,NaN,NaN
2,1982,474.1,647.5,203.5,278.0,3.5%,NaN,NaN

In [23]:
gdp_his.to_csv('IndiaGDP.csv')

# Excel Files

In [24]:
import pandas as pd

In [27]:
bgmac = pd.read_excel('big-mac.xls', sheet_name = 'Jan2023')

In [29]:
bgmac.head(3)

,Country,iso_a3,currency_code,local_price,dollar_ex,dollar_price,dollar_ppp,GDP_bigmac,dollar_valuation,euro_valuation,sterling_valuation,yen_valuation,yuan_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation
0,United Arab Emirates,ARE,AED,18.00,3.67300,4.900626,3.358209,52265.827511,-8.570,-7.281,5.001,55.505,38.525,-2.314,-9.890,5.307,58.021,24.962
1,Argentina,ARG,ARS,980.00,184.69875,5.305937,182.835821,9657.655384,-1.009,0.387,13.686,68.366,49.982,21.184,11.786,30.638,96.033,55.022
2,Australia,AUS,AUD,7.25,1.41854,5.110888,1.352612,69300.231062,-4.648,-3.303,9.506,62.177,44.469,-3.055,-10.573,4.509,56.823,24.015

In [30]:
bgmac.to_csv('mac-index-jan23.csv')

# SQL database files

In [33]:
from sqlalchemy import create_engine

In [34]:
temp_db = create_engine('sqlite:///:memory:')