# Input and Output - CSV Files

In [4]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\prana\\Jupyter\\Data-Science'

In [8]:
df = pd.read_csv('C:\\Users\\prana\\Jupyter\\Data-Science\\Pandas\\classg.csv')

In [9]:
df

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09      NaN     51.48  52.50
1        8       95.05    105.49    67.50       NaN  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22       NaN    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [10]:
df['Tutorial'] = df ['Tutorial'] + 10

In [16]:
df.head(3)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     44.09      NaN     51.48  52.50
1       8       95.05    115.49     67.5       NaN  68.33
2       8       83.70     93.17     30.0     63.15  48.89

In [12]:
df.to_csv('classg2.csv')

In [13]:
df1 = pd.read_csv('classg2.csv')

In [15]:
df1.head(3)

   Unnamed: 0  Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0           0       5       57.14     44.09      NaN     51.48  52.50
1           1       8       95.05    115.49     67.5       NaN  68.33
2           2       8       83.70     93.17     30.0     63.15  48.89