In [13]:
import numpy as np

In [14]:
import pandas as pd

In [15]:
index = ['US','China','India','Japan','Germany']
columns = ['GDP','Pop','Cont']
data = [[37.2,410,'NA'],
        [41.9,1100,'AS'],
        [22.2,1404,'AS'],
        [6.2,109,'AS'],
        [6.1,98,'EU']]

In [16]:
df = pd.DataFrame(data,index,columns)

In [17]:
df

          GDP   Pop Cont
US       37.2   410   NA
China    41.9  1100   AS
India    22.2  1404   AS
Japan     6.2   109   AS
Germany   6.1    98   EU

In [18]:
df[df['GDP']>10]

        GDP   Pop Cont
US     37.2   410   NA
China  41.9  1100   AS
India  22.2  1404   AS

In [19]:
df['Pop']>100

US          True
China       True
India       True
Japan       True
Germany    False
Name: Pop, dtype: bool

In [20]:
df

          GDP   Pop Cont
US       37.2   410   NA
China    41.9  1100   AS
India    22.2  1404   AS
Japan     6.2   109   AS
Germany   6.1    98   EU

In [21]:
df[(df['GDP']>6) & (df['Pop']>100) & (df['Cont']=='AS')]

        GDP   Pop Cont
China  41.9  1100   AS
India  22.2  1404   AS
Japan   6.2   109   AS

In [22]:
lst = [ 'EU', 'AS']
df[df['Cont'].isin(lst)]

          GDP   Pop Cont
China    41.9  1100   AS
India    22.2  1404   AS
Japan     6.2   109   AS
Germany   6.1    98   EU