In [1]:
import numpy as np

In [3]:
import pandas as pd

In [28]:
df = pd.read_csv('example.csv')

In [5]:
df.describe()

            Index      Founded  Number of employees
count  100.000000   100.000000           100.000000
mean    50.500000  1995.410000          4964.860000
std     29.011492    15.744228          2850.859799
min      1.000000  1970.000000           236.000000
25%     25.750000  1983.500000          2741.250000
50%     50.500000  1995.000000          4941.500000
75%     75.250000  2010.250000          7558.000000
max    100.000000  2021.000000          9995.000000

In [7]:
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [8]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [22]:
df.columns

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

In [23]:
df = df.set_index('Organization Id')

In [25]:
df.head(3)

,Index,Name,Website,Country,Description,Founded,Industry,Number of employees
Organization Id,,,,,,,,
FAB0d41d5b5d22c,1,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
6A7EdDEA9FaDC52,2,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
0bFED1ADAE4bcC1,3,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287

In [31]:
df = df.reset_index()

In [32]:
df

,index,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...,...
95,95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

In [34]:
df = df.drop('index',axis=1)

In [35]:
df.head(2)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952

In [39]:
df = df.set_index('Organization Id')

In [40]:
df.iloc[3].transpose()

Index                                                               4
Name                                                   Holder-Sellers
Website                                           https://becker.com/
Country                                                  Turkmenistan
Description            De-engineered systemic artificial intelligence
Founded                                                          2004
Industry                                                   Automotive
Number of employees                                               921
Name: 2bFC1Be8a4ce42f, dtype: object

In [45]:
df.index

Index(['FAB0d41d5b5d22c', '6A7EdDEA9FaDC52', '0bFED1ADAE4bcC1',
       '2bFC1Be8a4ce42f', '9eE8A6a4Eb96C24', 'cC757116fe1C085',
       '219233e8aFF1BC3', 'ccc93DCF81a31CD', '0B4F93aA06ED03e',
       '738b5aDe6B1C6A5', 'AE61b8Ffebbc476', 'eb3B7D06cCdD609',
       '8D0c29189C9798B', 'D2c91cc03CA394c', 'C8AC1eaf9C036F4',
       'b5D10A14f7a8AfE', '68139b5C4De03B4', '5c2EffEfdba2BdF',
       'ba179F19F7925f5', 'c1Ce9B350BAc66b', '8de40AC4e6EaCa4',
       'Aad86a4F0385F2d', '22aC3FFd64fD703', '5Ec4C272bCf085c',
       '5fDBeA8BB91a000', 'dFfD6a6F9AC2d9C', '4B217cC5a0674C5',
       '88b1f1cDcf59a37', 'f9F7bBCAEeC360F', '7Cb3AeFcE4Ba31e',
       'ccBcC32adcbc530', 'f5afd686b3d05F5', '38C6cfC5074Fa5e',
       '5Cd7efccCcba38f', '9E6Acb51e3F9d6F', '4D4d7E18321eaeC',
       '485f5d06B938F2b', '19E3a5Bf6dBDc4F', '6883A965c7b68F7',
       'AC5B7AA74Aa4A2E', 'decab0D5027CA6a', 'dF084FbBb613eea',
       'A2D89Ab9bCcAd4e', '77aDc905434a49f', '235fdEFE2cfDa5F',
       '1eD64cFe986BBbE', 'CbBbFcdd0eaE2cF', '49aECbDaE6aBD53',
       '7b3fe6e7E72bFa4', 'c6DedA82A8aef7E', '7D9FBF85cdC3871',
       '7dd18Fb7cB07b65', 'EF5B55FadccB8Fe', 'f8D4B99e11fAF5D',
       'e24D21BFd3bF1E5', 'B9BdfEB6D3Ca44E', '2a74D6f3D3B268e',
       'Bf3F3f62c8aBC33', 'aeBe26B80a7a23c', 'aAeb29ad43886C6',
       'bD1bc6bB6d1FeD3', 'EB9f456e8b7022a', 'Dfef38C51D8DAe3',
       '055ffEfB2Dd95B0', 'cBfe4dbAE1699da', 'fdFbecbadcdCdf1',
       '5DCb8A5a5ca03c0', 'ce57DCbcFD6d618', '5aaD187dc929371',
       '902D7Ac8b6d476b', '32BB9Ff4d939788', 'adcB0afbE58bAe3',
       'dfcA1c84AdB61Ac', '208044AC2fe52F3', 'f3C365f0c1A0623',
       'ec5Bdd3CBAfaB93', 'DDB19Be7eeB56B4', 'dd6CA3d0bc3cAfc',
       'A0B9d56e61070e3', 'cBa7EFe5D05Adaf', 'Ea3f6D52Ec73563',
       'bC0CEd48A8000E0', 'c89b9b59BC4baa1', 'FEC51bce8421a7b',
       'e0E8e27eAc9CAd5', 'B97a6CF9bf5983C', 'a0a6f9b3DbcBEb5',
       '8cC1bDa330a5871', 'ED889CB2FE9cbd3', 'F4Dc1417BC6cb8f',
       '7ABc3c7ecA03B34', '4e0719FBE38e0aB', 'dEbDAAeDfaed00A',
       '61BDeCfeFD0cEF5', '4e91eD25f486110', '0a0bfFbBbB8eC7c',
       'BA6Cd9Dae2Efd62', 'E7df80C60Abd7f9', 'AFc285dbE2fEd24',
       'e9eB5A60Cef8354'],
      dtype='object', name='Organization Id')

In [47]:
np.random.seed(42)
i = np.random.randint(100,size=1)

In [49]:
one_row = df.iloc[i]

In [50]:
one_row

,Index,Name,Website,Country,Description,Founded,Industry,Number of employees
Organization Id,,,,,,,,
7dd18Fb7cB07b65,52,"Mcguire, Mcconnell and Olsen",https://melton-briggs.com/,Korea,Profound client-server frame,1988,Printing,8445

In [ ]:
df = df.append(one_row)