In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
myindex = ['South Korea', 'India', 'Bangladesh']
mydata = [1945,1947,1971]
myser = pd.Series(mydata,myindex)
print(myser)

South Korea    1945
India          1947
Bangladesh     1971
dtype: int64

In [5]:
myser['South Korea']

1945

In [6]:
ages = {'Ram':14,'Suresh':47,'Mohan':21}

In [7]:
pd.Series(ages)

Ram       14
Suresh    47
Mohan     21
dtype: int64

In [10]:
q1 = {'Japan':80, 'China': 340, 'India':420, 'USA':605}
q2 = {'Brazil': 145, 'China': 480, 'India':725, 'USA':690}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)
print(sales_q2)

Japan     80
China    340
India    420
USA      605
dtype: int64
Brazil    145
China     480
India     725
USA       690
dtype: int64

In [11]:
sales_q1 * 1.1

Japan     88.0
China    374.0
India    462.0
USA      665.5
dtype: float64

In [12]:
sales_q1 + sales_q2

Brazil       NaN
China      820.0
India     1145.0
Japan        NaN
USA       1295.0
dtype: float64

In [15]:
sales_q1.add(sales_q2, fill_value = 0)

Brazil     145.0
China      820.0
India     1145.0
Japan       80.0
USA       1295.0
dtype: float64

In [16]:
sales_q2.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [17]:
sales_q2 + 35

Brazil    180
China     515
India     760
USA       725
dtype: int64