In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('example.csv')

In [7]:
df.head(2)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952

In [8]:
str(132495)[-4:]

'2495'

In [9]:
#Now I want only 2 last numbers of the year founded
def last_two(num):
    return int(str(num)[-2:])

In [10]:
#Now I want to create a column with all the values passed of Founded Column
df['Yr'] = df['Founded'].apply(last_two)

In [11]:
df.head(2)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Yr
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,90
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,15

In [12]:
def calcap(num):
    if num<1500:
        return 'D Class'
    elif num>=1500 and num< 3000:
        return 'C Class'
    elif num>=3000 and num<5000:
        return 'B Class'
    elif num>=5000 and num<8000:
        return 'A Class'
    else:
        return 'S Class'

In [13]:
df['Cap'] = df['Number of employees'].apply(calcap)

In [14]:
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Yr,Cap
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,90,B Class
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,15,B Class
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287,71,A Class
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921,4,D Class
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870,91,A Class

In [15]:
## Multiple Column

In [16]:
def qual(num, yr):
    if num-yr > 0:
        return "High"
    elif (num-yr) = 0:
        return "Medium"
    else:
        return "Low"

In [21]:
lst = ['Number of employees','Founded']
df['Ratio'] = df[lst].apply(lambda df: qual(df['Number of employees'],df['Founded']),axis = 1)

In [22]:
df['Ratio'].head(5)

0    Low
1    Low
2    Low
3    Low
4    Low
Name: Ratio, dtype: object

In [24]:
df = df.drop('Ratio',axis = 1)

In [25]:
df['Rat'] = np.vectorize(qual)(df['Number of employees'],df['Founded'])

In [26]:
df.head(3)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Yr,Cap,Rat
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,90,B Class,Low
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,15,B Class,Low
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287,71,A Class,Low